<h1 align="center">Linear Regression (Binary Classification) Tutorial: Codebasics ML Course</h1>

In [9]:
import pandas as pd


df = pd.read_csv("car_ownership.csv")
df.head()

   monthly_salary  owns_car
0           22000         0
1           25000         0
2           47000         1
3           52000         0
4           46000         1

In [ ]:
from sklearn.model_selection import train_test_split

# separate into tagets and features
X = df[["monthly_salary"]]
y = df[["owns_car"]]

# split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state =42)

#crete the model object
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

# fit the model
model.fit(X_train, y_train)

model.score(X_test, y_test)
# make predictions

/Users/pronobsarker/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8888888888888888

In [11]:
# Separate the features and the target variable
X = df[['monthly_salary']]
y = df['owns_car']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [12]:
model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8888888888888888

In [13]:
y_pred = model.predict(X_test)
y_pred

array([1, 0, 1, 0, 0, 0, 0, 1, 0])

In [14]:
y_test.tolist()

[1, 0, 1, 0, 0, 0, 1, 1, 0]

In [15]:
8/9

0.8888888888888888

In [16]:
X_test

    monthly_salary
8            62000
13           29000
9            61000
21           26000
0            22000
11           28000
16           25000
17           58000
12           27000

In [17]:
model.predict(X_test)

array([1, 0, 1, 0, 0, 0, 0, 1, 0])

In [18]:
model.predict_proba(X_test)

array([[0.04530932, 0.95469068],
       [0.80955349, 0.19044651],
       [0.05158003, 0.94841997],
       [0.86480041, 0.13519959],
       [0.91687254, 0.08312746],
       [0.82967465, 0.17032535],
       [0.87995016, 0.12004984],
       [0.07564619, 0.92435381],
       [0.84806892, 0.15193108]])

In [19]:
model.coef_, model.intercept_

(array([[0.00013621]]), array([-5.39725076]))

In [20]:
import math
def sigmoid(x):
  return 1 / (1 + math.exp(-x))

def prediction_function(salary, model):
    z = model.coef_ * salary + model.intercept_
    y = sigmoid(z[0][0])
    return y

prediction_function(62000, model)

0.954690678813166

In [21]:
prediction_function(29000, model)

0.19044651151581546